# vscode specific ignores
.vscode/
*.code-workspace
null.d

# clang lsp ignores
.cache
compile_commands.json

# ignore generated resources
bin/
!vendor/bin/ 
bin-int/
Makefile

# ignore profile files
*Profile.json
